body{
    background-color: rgb(145, 188, 201);
    
}

.container{
    border: 2px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(235, 14, 14);
}

#display{
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding:1px ;
    border-radius: 5px;
    background-color: bisque;
}
/* 
button{
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 2px;
} */

.buttons{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 5px;
}
button{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: serif;
    text-transform: uppercase;
    
}
.zero{
    grid-column: span 3;
}
